apiVersion: apps/v1
kind: Deployment
metadata:
  name: post-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: post-service
  template:
    metadata:
      labels:
        app: post-service
    spec:
      containers:
        - name: post-service
          image: post-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://post-db:5432/postdb
            - name: SPRING_DATASOURCE_USERNAME
              value: post
            - name: SPRING_DATASOURCE_PASSWORD
              value: password
            - name: AZURE_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: post-service-secrets
                  key: AZURE_CONNECTION_STRING
          envFrom:
            - configMapRef:
                name: post-service-config
